.card {
  border: none;
  box-shadow: none !important;
}

.card:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 10, 0.1) !important;
}

.card-body {
  padding: 14px;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}

.bank-logo {
  width: 40px;
  height: 40px;
}

.badge {
  font-size: 12px;
  padding: 5px 10px;
}

p {
  font-size: 14px;
  margin-bottom: 5px;
}
